/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Rubik:wght@400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
ul {
    list-style: none outside none;
    margin: 0 !important;
    padding: 0 !important;
}
/* header */
.header-padding-1>.container-fluid{
    padding: 0 80px;
}
.logo {
    margin-top: 32px;
}
.main-menu nav ul {
    display: block;
    margin-top: -5px;
    text-align: center;
}
.main-menu nav ul li {
    display: inline-block;
    padding: 0 15px;
    position: relative;
}
.main-menu nav ul li>a {
    color: #555252;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .8px;
    line-height: 94px;
}
.header-right-wrap .same-style>button {
    background: none;
    border: none;
}
.header-right-wrap .same-style button, .header-right-wrap .same-style>a {
    color: #000;
    font-size: 23px;
}
.header-right-wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
}
.header-right-wrap .same-style {
    margin-left: 14px;
    position: relative;
}
.header-right-wrap .same-style:first-child {
    margin-left: 0;
}
button.search-active{
    padding: 1px 6px;
}
.header-right-wrap .same-style:hover>button {
    color: #a749ff;
}
span.count-style {
    background-color: #000;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 21px;
    line-height: 21px;
    position: absolute;
    right: -14px;
    text-align: center;
    top: -16px;
    width: 21px;
}
/* header end */
/* slider */
.single-slider {
    align-items: flex-end;
    display: flex;
}
.slider-height-1 {
    height: 750px;
}
.bg-purple {
    background-color: #f0e0ff;
}
.single-slider .slider-single-img {
    margin: 0 -80px;
}
.single-slider .slider-content h3 {
    font-size: 24px;
    font-weight: 500 !important;
    margin: 0;
}
.single-slider .slider-content h1 {
    color: #010101;
    font-size: 72px;
    line-height: 97px;
    margin: 6px 0 37px;
}
.btn-hover a, .btn-hover button {
    isolation: isolate;
    position: relative;
    transition: all .5s ease-in-out 0s;
}
.single-slider .slider-content .slider-btn a {
    border: 1px solid #333;
    color: #010101;
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    padding: 19px 50px 21px;
    text-transform: uppercase;
}
.single-slider .slider-content .slider-btn a:hover {
    border: 1px solid #a749ff;
    color: #fff;
}
.btn-hover a:after, .btn-hover a:before, .btn-hover button:after, .btn-hover button:before {
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    transition: all .5s cubic-bezier(.645,.045,.355,1);
    width: 100%;
    z-index: -1;
}
.btn-hover a:hover:after, .btn-hover button:hover:after {
    left: 0;
    right: auto;
    width: 100%;
}
.btn-hover a:after, .btn-hover button:after {
    background: #a749ff;
    left: auto;
    right: 0;
    width: 0;
}
.prev-btn,
.next-btn {
    display: none; /* Initially hide the buttons */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}
.prev-btn {
    left: 10px;
}
.next-btn {
    right: 10px;
}
.prev-btn,
.next-btn {
    display: none; /* Initially hide the buttons */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}
.prev-btn {
    left: 10px;
}
.next-btn {
    right: 10px;
}
.prev-btn,
.next-btn {
    display: none; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    background: none;
    color: #333;
    width: 80px;
    height: 80px;
}
.prev-btn {
    left: 10px;
}
.next-btn {
    right: 10px;
}
.slider-container:hover .prev-btn,
.slider-container:hover .next-btn {
    display: block; 
}
.prev-btn i,
.next-btn i{
    font-size: 24px;
}
/* slider end */
/* support */
section.support{
    padding: 100px 0 60px;
}
.support-wrap{
    margin-bottom: 30px;
}
.support-wrap .support-icon {
    flex: 0 0 50px;
    margin-right: 20px;
}
.support-wrap .support-content h5 {
    font-size: 18px;
    margin: 0 0 5px;
}
.support-wrap .support-content p {
    color: #666;
    margin: 0;
}
/* support end */
/* product */
section.product-area{
    padding: 0px 0px 60px;
}
.section-title h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: 600 !important;
    margin: 0;
    position: relative;
}
.section-title p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}
.section-title h2:before,.section-title h2:after {
    background-color: #000;
    content: "";
    height: 2px;
    position: absolute;
    top: 17px;
    width: 80px;
}
.section-title h2:before {
    left: -100px;
}
.section-title h2:after {
    right: -100px;
}
.product-tab-list{
    padding: 30px 0 55px;
}
.product-tab-list a.nav-link {
    background-color: transparent!important;
}
.product-tab-list a {
    margin: 0 11px;
}
.nav-pills .nav-link {
    background: none;
    border: 0;
    border-radius: var(--bs-nav-pills-border-radius);
}
.product-tab-list a .h4, .product-tab-list a h4 {
    color: #555;
    font-size: 18px;
    font-weight: 500 !important;
    margin: 0;
    transition: all .3s ease 0s;
}
.product-tab-list a .h4:hover, .product-tab-list a h4:hover, .product-tab-list a.active .h4, .product-tab-list a.active h4 {
    color: #000;
}
.product-card{
    position: relative;
    margin-bottom: 25px;
}
.product-card .product-img  img {
    width: 100% !important;
}
.product-card .product-img {
    overflow: hidden;
    position: relative;
}
.product-card .product-img .hover-img {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translate(-50%,20px);
    transform: translate(-50%,20px);
    transition-duration: .7s;
    visibility: hidden ;
}
.product-card:hover .hover-img {
    opacity: 1;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    visibility: visible;
}
.product-card .product-img-badges {
    position: absolute;
    right: 12px;
    top: 12px;
}
.product-card .product-img-badges span.pink {
    background-color: #fa6bff;
}
.product-card .product-img-badges span {
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 10px;
    padding: 3px 11px;
}
.product-card .product-img-badges span:last-child {
    margin-bottom: 0;
}
.product-card .product-img-badges span.purple {
    background-color: #a749ff;
}
.product-card .product-img .product-action {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    z-index: 9;
}
.product-card .product-img .product-action .pro-same-action button {
    background: none;
    border: none;
    color: #fff;
    display: block;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
}
.product-card .product-img .product-action .pro-wishlist{
    border-right: 1px solid hsla(0,0%,100%,.2);
    width: 48px;
}
.product-card .product-img .product-action .pro-quickview{
    border-left: 1px solid hsla(0,0%,100%,.2);
    width: 48px; 
}
.product-card .product-img .product-action .pro-cart {
    font-size: 14px;
    transition-delay: .1s;
    width: calc(100% - 96px);
}
.product-card .product-img .product-action>div {
    align-items: center;
    background-color: #a749ff;
    display: flex;
    height: 48px;
    justify-content: center;
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    transition: all .5s ease;
    visibility: hidden;
}
.product-card:hover .product-action>div {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
}
.product-card .product-content {
    margin: 20px 0 0;
}
.product-card .product-content .product-rating{
    margin: 3px 0px;
}
.product-card .product-content .product-rating i.yellow{
    color: #ffa900;
}
.product-card .product-content h3 {
    font-size: 16px;
    margin: 0;
    line-height: 30px;
}
.product-card .product-content h3 a{
    color: #000;
}
.product-card .product-content h3 a:hover {
    color: #a749ff !important;
}
.product-card .product-content .product-price span {
    color: #000;
    font-size: 15px;
    font-weight: 500 !important;
    margin: 0 9px;
    position: relative;
}
.product-card .product-content .product-price span.new:before {
    background-color: #000;
    content: "";
    height: 2px;
    position: absolute;
    right: -13px;
    top: 10px;
    width: 7px;
}
.product-card .product-content .product-price span.old {
    color: #8e8e8e;
    text-decoration: line-through;
}
/* product end */
/* blog */
section.blog{
    padding: 0px 0px 55px;
}
.blog-wrap .blog-img {
    overflow: hidden;
    position: relative;
}
.blog-wrap .blog-img .blog-category-names {
    left: 10px;
    position: absolute;
    top: 10px;
}
.blog-wrap .blog-img .blog-category-names span.purple {
    background-color: #a749ff;
}
.blog-wrap .blog-img .blog-category-names span {
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    margin-right: 10px;
    padding: 5px 10px;
}
.blog-wrap .blog-content-wrap .blog-content {
    background-color: #fff;
    display: inline-block;
    margin: -64px 0 0;
    max-width: 100%;
    padding: 14px 44px;
    position: relative;
    width: 320px;
    z-index: 99;
}
.blog-wrap .blog-content-wrap .blog-content h3 {
    font-size: 20px;
    font-weight: 500 !important;
    line-height: 30px;
    margin: 0 0 5px;
}
.blog-wrap .blog-content-wrap .blog-content h3 a{
    color: #000;
}
.blog-wrap .blog-content-wrap .blog-content h3 a:hover{
    color: #a749ff;
}
.blog-wrap .blog-content-wrap .blog-content span,.blog-content span a {
    color: #666;
    font-style: italic;
}
/* blog end */
/* footer */
.footer-area{
    padding: 100px 0px 70px;
    background: #f6f6f8;
}
.copyright{
    margin: 0px 0px 30px;
}
.copyright .footer-logo {
    margin-bottom: 12px;
    margin-top: 41px;
}
.copyright p, .copyright p a {
    color: #313131;
}
.copyright p {
    letter-spacing: .9px;
}
p:last-child {
    margin-bottom: 0;
}
.footer-widget{
    margin-left: 30px;
    margin-bottom: 30px;
}
.footer-widget .footer-title h3 {
    color: #313131;
    font-size: 16px;
    font-weight: 500 !important;
    line-height: 1;
    margin: 0 0 16px;
    text-transform: uppercase;
}
.footer-widget .footer-list ul li a {
    color: #5d5d5d;
    letter-spacing: .3px;
    font-size: 14px;
    font-weight: 400;
}
.footer-widget .footer-list ul li {
    margin: 0 0 11px;
}
.footer-widget .subscribe-style p {
    color: #7a7a7a;
    margin: 0 0 20px;
}
.footer-widget .footer-list ul li a:hover {
    color: #a749ff;
}
.footer-widget .subscribe-style .subscribe-form input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #ebebeb;
    color: #333;
    font-size: 13px;
    padding: 2px 10px 2px 0;
}
.clear {
    clear: both;
}
.footer-widget .subscribe-style .subscribe-form .clear button {
    background: none;
    border: none;
    border-bottom: 2px solid #9b9b9c;
    color: #313131;
    font-size: 14px;
    height: auto;
    line-height: 1;
    margin: 13px 0 0;
    padding: 0 0 1px;
    text-transform: uppercase;
    width: auto;
}
.footer-widget .subscribe-style .subscribe-form .clear button:hover {
    border-bottom: 2px solid #a749ff;
    color: #a749ff;
}
/* footer end */
