
.h1, .h2, .h3, .h4, .h5, .h6, body, h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: Poppins,sans-serif;
    font-weight: 400 !important;
}
p{
    color: #333;
    font-family: Poppins,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 15px;
}
a, button {
    color: #000 ;
    cursor: pointer;
    line-height: inherit;
    text-decoration: none !important;
}
a, button, img, input, span {
    transition: all .3s ease 0s;
}
input, select {
    box-shadow: none;
    color: #333;
    font-size: 14px;
    width: 100%;
}
input {
    background: #eceff8;
    border: 2px solid #eceff8;
    height: 45px;
    padding-left: 10px;
}
.ml-50{
    margin-left: 50px !important;
}
.ml-75{
    margin-left: 75px;
}
.ml-70{
    margin-left: 70px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-55{
    margin-bottom: 55px;
}